<% include ./partials/header.ejs %>
    <div class="profile w-full min-h-screen">
        <form action="/fileupload" method="post" enctype="multipart/form-data" id="uploadform" hidden>
            <input type="file" name="profileImage">
        </form>
        <div class="profdets flex flex-col items-center mt-3">
            <div class="relative">
                <span
                    class="cursor-pointer uploadIcon w-8 h-8 absolute bottom-0 right-0 rounded-full flex items-center justify-center bg-zinc-200">
                    <i class="ri-pencil-line"></i>
                </span>
                <div class="w-32 h-32 bg-zinc-200 rounded-full overflow-hidden">
                    <img class="w-full h-full "
                        src="/images/uploads/<%= user.profileImage %>" alt="">
                </div>
            </div>
            <h1 class="text-3xl font-semibold mt-5 "><%= user.name %></h1>
            <h3 class="text-md">@<%= user.username %></h3>
            <div class="control-btns mt-2 flex gap-4">
                <a href="/edit" class="mt-5 px-9 py-2 bg-zinc-200 rounded-full text-xs font-semibold">edit</a>
                <a href="addpost" class="mt-5 px-9 py-2 bg-zinc-200 rounded-full text-xs font-semibold">add post</a>
                <a href="logout" class="mt-5 px-8 py-2 bg-zinc-200 rounded-full text-xs font-semibold">logout</a>
            </div>
        </div>
        <div class="cards flex flex-wrap gap-10 px-10 mt-5 items-center justify-center">
            <div class="card w-1/5 ">
                <div class="w-full h-[300px] bg-zinc-200 rounded-lg overflow-hidden">
                    <a href="/user/posts">
                        <img class="w-full h-full object-cover bg-no-repeat bg-center"
                            src="/images/uploads/<%= user?.posts[0]?.image %>" alt="">
                    </a>
                </div>
                <h3 class="text-3 font-semibold mt-3">Your uploaded pins</h3>
                <h5 class="text-sm font-medium opacity-60"><%= user.posts.length %> Pins</h5>
            </div>
        </div>
    </div>

    <script>
        document.querySelector(".uploadIcon").addEventListener('click', function () {
            document.querySelector("#uploadform input").click();
        })
        document.querySelector("#uploadform input").addEventListener("change", function () {
            document.querySelector("#uploadform").submit();
        })
    </script>
    <% include ./partials/footer.ejs %>